.mail {
  width: 100%;
  margin-top: 90px;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  margin-bottom: 20px;
}

.mailInputContainer > input {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
}

.mailInputContainer > button {
  height: 40px;
  background-color: #0071c2;
  color: white;
  font-weight: 300;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
